<h1>New Patient</h1>

<%= form_with scope: :patients, url: patients_path, local: true do |form| %>
    <p>
        <%= form.label :first_Name%><br>
        <%= form.text_field :first_Name%>
    </p>

    <p>
        <%= form.label :last_Name%><br>
        <%= form.text_field :last_Name%>
    </p>

    <p>
        <%= form.submit%>
    </p>

<%end%>