<h1>Patient Details </h1>
<div style="margin-left:10px">
    <b>First name:</b> <%= @patient.first_Name %>
    <br/>
    <b>Last name:</b> <%= @patient.last_Name %>

</div>
    (<%= link_to 'Edit', edit_patient_path(@patient) %> |
    <%= link_to 'Back', patients_path %>)
<h2>Patient Notes</h2>    
<%= render @patient.notes%>


<h2> Add a note: </h2>
<%= render 'notes/form' %>

